<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
   .he {
    width: 100%;
    height:150px;
    background: #81F781;
    padding: 5px;
    padding-right: 20px;
    border: solid 1px black;
    float: left;
   }
 </style>
</head>
<header >
    <div class="he">
        <H1 >Онлайн магазин ноутбуков</H1>
        <h5>Алишер Санатулы, пока студент гр.8ВМ4В</h5>
        </div>
</header>
<body>

{% block content%}
{% endblock %}
</body>
</html>