<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table border="2" bordercolor="black">
    <tr bgcolor="#BDBDBD">
        <td>
            Фирма
        </td>
        <td>Модель
        </td>
        <td>Изображение
        </td>
        <td>Цена
        </td>
        <td>Тип процессора
        </td>
        <td>Оперативная память, Мб
        </td>
        <td>
            Размер,дюйм
        </td>
        <td>
            Видеоадаптер
        </td>
        <td>
            Емкость HDD, Гб
        </td>
        <td>Наличие DVD привода
        </td>
        <td>Количество USB
        </td>
        <td bgcolor = "red">

        </td>

        </tr>
{% for item in Items %}
    <tr>
        <td>
{{item.product.label}}
        </td>
        <td>
            {{item.product.name}}
        </td>
        <td>
            <img src='{{item.product.picture.url}}' width="50" height="50"/>
        </td>
        <td>
            {{item.product.price}}
        </td>
        <td>
            {{item.product.processor}}
        </td>
        <td>
            {{item.product.ram}}
        </td>
        <td>
            {{item.product.size}}
        </td>
        <td>
            {{item.product.videocard}}
        </td>
        <td>
            {{item.product.hdd_mass}}
        </td><td>
            {{item.product.dvd}}
        </td><td>
            {{item.product.usb}}
        </td>
        <td bgcolor="red">
            <form action = "{% url 'basket:deleteRow' item.id %}" method="delete">
                <input type="submit" value="X">
            </form>
        </td>


        </tr>
    {% endfor %}
</table>


<h1>Цена за все {{ price }}</h1>

</body>
</html>